<header>
    <a id="home" href="/petition"><img class="icon" src="../../icons/home-sharp.svg">Home</a>
    <a href="/logout"><img class="icon" src="../../icons/log-out-sharp.svg">Logout</a>
    <a href="/profile/edit"><img class="icon" src="../../icons/person-sharp.svg">Profile</a>
</header>