{{>header}}
<h2>Sign our petition to stop animal testing</h2>
{{#if error}}
    <h4 class="error">Something went wrong! Please try again.</h4>
{{/if}}
<img id="animals" alt="animals" src="../animals.jpeg">
<p>Why are millions of animals STILL suffering in laboratories? There’s no justifiable reason. Companies do not need to torture animals in order to test mascara, shampoo, detergent, or other household products. Scientists do not have to torment monkeys in order to cure a disease. Educators do not need to buy fetal pigs to teach students physiology.</p>
<p>There are easy ways to lend your voice to animals suffering in experiments, and together we can stop animal testing.</p>
<form method="POST" id="log-in-form">
    <input type="hidden" name="signature" id="signature" required/>
    {{!-- remember to use put this hidden input in every form --}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <p>Please sign here to help us:</p>
    <canvas id="canvas"></canvas>
    <br>
    <button class="submit-btn">Submit</button>
</form>