<h2>Join us and sign our petition to stop animal testing</h2>
<img id="animals" alt="animals" src="../animals.jpeg">
<p>Why are millions of animals STILL suffering in laboratories? There’s no justifiable reason. Companies do not need to torture animals in order to test mascara, shampoo, detergent, or other household products. Scientists do not have to torment monkeys in order to cure a disease. Educators do not need to buy fetal pigs to teach students physiology.</p>
<p>There are easy ways to lend your voice to animals suffering in experiments, and together we can stop animal testing.</p>
<h4>Click <a href="/register">here</a> to create an account and help us!</h4>
<p>Already registered? Click <a href="/login">here</a> to login!</p>